@import "../../c/config.less";
@import "../../c/social-icon.less";
@import "../../c/widget/header.less";
@import "../../c/widget/footer.less";
@import "../../c/widget/search-form.less";

body{
    background-color: @cl-bg;
    position: absolute;
    .transition(color 1s ease-in);
    &.white{
        color: #fff;
    }
}
.s-wp{
    background: transparent no-repeat center;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    .transition(opacity 1s ease-in);
    &.active{
        opacity: 1;
    }
}

.s-form{
    margin: 130px auto 40px;
}

/*************Media query**************/
@media (max-width: 440px) {
    .s-form{
        margin-top: 180px;
    }
}