@import "./reset.less";
@import "./../../bower_components/lesshat/build/lesshat.less";

body{
    background: #fff;
    color: #333;
    font: 100 20px/32px '微软雅黑','宋体',arial,'Hiragino Sans GB','Microsoft Yahei';
    width: 100%;
}

header,footer{
    h1,h2,h3,h4,h5{
        font-weight: 100;
    }
}